{% extends "base.html" %}
{% load static %}

{% block title %}
{{ movie.name }}
{% endblock title %}

{% block cssblock %}
<link rel="stylesheet" href="{% static 'css/movies/style.css' %}">
{% endblock cssblock %}

{% block content %}

Movie Detail
<p>name: {{ movie.name }}</p>
<p>photo: {{ movie.photo }}</p>
<p>minute: {{ movie.minute }}p</p>
<p>des: {{ movie.description }}</p>
<p>date: {{ movie.date }}</p>

<p>categories:
{% for category in movie.categories.all %}

  {{ category.name }}

{% endfor %}
</p>

<p>actors:
{% for actor in movie.actors.all %}

{{ actor.name }}

{% endfor %}
</p>

<p>slug:
  {{ movie.slug }}
</p>

{% endblock content %}
