{% extends "base.html" %}
{% load static %}

{% block title %}
    Movie List
{% endblock title %}

{% block cssblock %}
<link rel="stylesheet" href="{% static 'css/movies/style.css' %}">
{% endblock cssblock %}

{% block content %}
<div class="container row">
    <div class="MENU">
        <ul>
            <li> <a href="">HOME</a> </li>
            <li> <a href="">CATEGORY</a> </li>
            <li> <a href="">PORN STAR</a> </li>
            <li> <a href="">TOP VIEW</a> </li>
            <li> <a href="">NEW RELEASE</a> </li>
            <li> <a href="">BEST RATED</a> </li>
            <li> <a href="">DIRECTOR</a> </li>
            <li> <a href="">MAKER</a> </li>
        </ul>
    </div> <!--sidenav-->
</div>

<div class="noi-dung row"> 

    <div class="content col-md-8">
            <iframe width="700" height="500" src="https://www.youtube.com/embed/P7t13SGytRk" frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>
                Em đang đánh đàn phiêu theo từng điệu nhạc thì anh yêu bất ngờ vào nhà,
                 những ngón tay anh luồn sâu vào cổ áo chạm vào bộ ngực đầy săn chắc hồng hào của em làm lồn em chảy nước...
            </p> 
                <img src="https://nguoinoitieng.tv/images/nnt/96/0/bbhf.jpg"/> <!--Source hinh-->
                
    <div class="the_tag_list" style="margin-top: 10px;">
                    Tags: 
            <a href="/tag/narumi-ayase/" class="label" title="Narumi Ayase">
                <i class="fa fa-tag"></i> Narumi Ayase</a>
            <a href="/tag/caribbeancom-021415-807/" class="label" title="Caribbeancom 021415-807">
                <i class="fa fa-tag"></i> Caribbeancom 021415-807</a>
                <br>
                Category: 
        <a href="/phim-sex-co-noi-dung/" class="label" title="Caribbeancom 021415-807">
            <i class="fa fa-tag"></i> Phim Sex Có Nội Dung
        </a> 
        <a href="/phim-sex-hd/" class="label" title="Caribbeancom 021415-807">
            <i class="fa fa-tag"></i> Phim Sex HD
        </a> 
        <a href="/phim-sex-khong-che/" class="label" title="Caribbeancom 021415-807">
            <i class="fa fa-tag"></i> Phim Sex Không Che
        </a> 
        <a href="/phim-sex-nhat-ban/" class="label" title="Caribbeancom 021415-807">
            <i class="fa fa-tag"></i> Phim Sex Nhật Bản
        </a>
    </div> <!--TAG-->  
    <div class="recommended">
        <span> <h1 class="text-black">Recommended</h1> </span>
    </div>

    <section class="movieList">      
          <div class="row movielist-item">
            <div class="col-3">
                <a href="#">
                    <img src="https://i.pinimg.com/originals/92/a7/8b/92a78ba51b1769d5e4baf07cd38dfd22.jpg" alt="">
                    <h4>Doremon va nhung nguoi ban</h4>
                </a>       
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="https://i.pinimg.com/originals/92/a7/8b/92a78ba51b1769d5e4baf07cd38dfd22.jpg" alt="">
                    <h4>Doremon</h4>
                </a>       
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="https://i.pinimg.com/originals/92/a7/8b/92a78ba51b1769d5e4baf07cd38dfd22.jpg" alt="">
                    <h4>Hello cac ban</h4>
                </a>       
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="https://i.pinimg.com/originals/92/a7/8b/92a78ba51b1769d5e4baf07cd38dfd22.jpg" alt="">
                    <h4>Doremon </h4>
                </a>       
            </div>
          </div>      
        </section>
    </div> <!--content-->
            
    <div class="aside1 col-md-4">             
                <div>
                    <div class="section-title">
                        <span>BAOHUY</span>                         
                    </div>
                </div>    
                <div class="sidebar" style="min-width: 100%;">
                    <div class="item1">
                        <a href="https://javxyz.net/phim-sex/nhung-co-hang-xom-cua-toi/" title="Những cô hàng xóm của tôi" class="item-link">
                            <div >
                                <img class="picture1" src="https://msmobile.com.vn/upload_images/images/tai-hinh-nen-doremon-cho-may-tinh-2.jpg" title="Những cô hàng xóm của tôi">
                            </div>            
                        </a>
                        <a href="https://javxyz.net/phim-sex/nhung-co-hang-xom-cua-toi/" title="Những cô hàng xóm của tôi">
                            <div >
                                <h5 class="title">asdasdasdasdadasdtat ca moiasdasdasda </h5>
                            </div>                                                  
                                <label class="viewsCount">250118 view</label>
                        </a>        
                    </div>

                    <div class="item1">
                        <a href="https://javxyz.net/phim-sex/rinh-trom-chi-dau-thu-dam-va-cai-ket/" title="Rình trộm chị dâu thủ dâm và cái kết" class="item-link">
                            <div >
                                <img class="picture1" src="https://i.pinimg.com/236x/9d/0a/89/9d0a89c6736138188ef4eb709c5c6dee.jpg" title="Những cô hàng xóm của tôi">
                            </div>  
                        </a>
                        <a href="https://javxyz.net/phim-sex/rinh-trom-chi-dau-thu-dam-va-cai-ket/" title="Rình trộm chị dâu thủ dâm và cái kết">
                            <div>
                                <h5 class="title">doremon </h5>
                            </div>                          
                            <div class="viewsCount">234019 view</div>
                        </a>          
                    </div>

                    <div class="item1">
                        <a href="https://javxyz.net/phim-sex/mizuno-va-ong-chu-ho-ba-con-xa/" title="Mizuno và ông chú họ bà con xa" class="item-link">
                            <div >
                                <img class="picture1" src="https://msmobile.com.vn/upload_images/images/tai-hinh-nen-doremon-cho-may-tinh-2.jpg" title="Những cô hàng xóm của tôi">
                            </div>  
                        </a>
                        <a href="https://javxyz.net/phim-sex/mizuno-va-ong-chu-ho-ba-con-xa/" title="Mizuno và ông chú họ bà con xa">
                            <div>
                                <h5 class="title">doremon xin chao tat ca moi nguoi</h5>
                            </div>                         
                            <div class="viewsCount">210791 view</div>
                        </a>          
                    </div>

                    <div class="item1">
                        <a href="https://javxyz.net/phim-sex/vo-dam-cho-chong-uong-thuoc-ngu-de-du-dong-nghiep/" title="Vợ dâm cho chồng uống thuốc ngủ để đụ đồng nghiệp" class="item-link">
                            <div >
                                <img class="picture1" src="https://msmobile.com.vn/upload_images/images/tai-hinh-nen-doremon-cho-may-tinh-2.jpg" title="Những cô hàng xóm của tôi">
                            </div>  
                        </a>
                        <a href="https://javxyz.net/phim-sex/vo-dam-cho-chong-uong-thuoc-ngu-de-du-dong-nghiep/" title="Vợ dâm cho chồng uống thuốc ngủ để đụ đồng nghiệp">
                            <div>
                                <h5 class="title">doresdmon xin chao tat ca moi nguoi</h5>
                            </div>                           
                            <div class="viewsCount">191477 view</div>
                        </a>      
                    </div>

                    <div class="item1">
                        <a href="https://javxyz.net/phim-sex/bo-chong-du-con-dau-hieu-thao/" title="Bố chồng đụ con dâu hiếu thảo" class="item-link">
                            <div >
                                <img class="picture1" src="https://msmobile.com.vn/upload_images/images/tai-hinh-nen-doremon-cho-may-tinh-2.jpg" title="Những cô hàng xóm của tôi">
                            </div>  
                        </a>
                        <a href="https://javxyz.net/phim-sex/bo-chong-du-con-dau-hieu-thao/" title="Bố chồng đụ con dâu hiếu thảo">
                            <div>
                                <h5 class="title">doremon xin chao tat ca moi nguoi</h5>
                            </div>                           
                            <div class="viewsCount">176068 view</div>
                        </a>                
                    </div>
                </div><!--sidebar-->  
        </div>          
    </div>
<!--container-->
{% endblock content %}


