{% extends "base.html" %}
{% load static %}

{% block title %}
    Trang Chủ S
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
{% endblock cssblock %}

{% block content %}
<section>
<div class="title">
    <h1>Tittle</h1>
    <hr>
</div>

<div id="container" class="main">
    {% for movie in movie_list %}
<a href="/movie/{{ movie.slug }}">
    <div class="item">
            <div class="img">
                {% if movie.photo %}
                <img src="{{ movie.photo}}"
                alt="{{ movie.name }}"
                width="100%" height="100%">
                {% elif movie.photo == "" %}
                <img src="https://image.freepik.com/free-vector/error-404-found-glitch-effect_8024-5.jpg"
                width="100%" height="100%">
                {% endif %}
            </div>


        <div class="desciption">
            <p id="textdesciption">
                <a href="/movie/{{ movie.slug }}">
                    {{ movie.name }}
                </a>
            </p>
        </div>
            <p class="category">
                {% for category in movie.categories.all %}

                {{ category.name }},

            {% endfor %}

            </p>
            <p class="minute">{{ movie.minute }}</p>
            <p class="date" id="date">{{ movie.date }}</p>
    </div>
    {% endfor %}
</a>
</div>

</section>



{% endblock content %}
