{% extends "base.html" %}
{% load static %}

{% block title %}
    Trang Chủ
{% endblock title %}

{% block cssblock %}
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
{% endblock cssblock %}

{% block content %}
<section>
<div class="title">
    <h1>Tittle</h1>
    <hr>
</div>

<div id="container" class="main">
    <div class="item">
        <div class="img">
            <a href="#">
            <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
             width="100%" height="100%">
            </a>
        </div>
        <div class="desciption">
                <p id="textdesciption">
                    <a href="#">
                        PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                     </a>
                </p>
        </div>
        <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
        <p id="exam">120 phút</p>
    </div>

    <div class="item">
        <div class="img">
            <a href="#">
            <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
             width="100%" height="100%">
            </a>
        </div>
        <div class="desciption">
                <p id="textdesciption">
                    <a href="#">
                        PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                     </a>
                </p>
        </div>
        <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
        <p id="exam">120 phút</p>
    </div>

    <div class="item">
        <div class="img">
            <a href="#">
            <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
             width="100%" height="100%">
            </a>
        </div>
        <div class="desciption">
                <p id="textdesciption">
                    <a href="#">
                        PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                     </a>
                </p>
        </div>
        <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
        <p id="exam">120 phút</p>
    </div>

    <div class="item">
        <div class="img">
            <a href="#">
            <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
             width="100%" height="100%">
            </a>
        </div>
        <div class="desciption">
                <p id="textdesciption">
                    <a href="#">
                        PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                     </a>
                </p>
        </div>
        <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
        <p id="exam">120 phút</p>
    </div>

    <div class="item">
        <div class="img">
            <a href="#">
            <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
             width="100%" height="100%">
            </a>
        </div>
        <div class="desciption">
                <p id="textdesciption">
                    <a href="#">
                        PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                     </a>
                </p>
        </div>
        <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
        <p id="exam">120 phút</p>
    </div>

    <div class="item">
        <div class="img">
            <a href="#">
            <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
             width="100%" height="100%">
            </a>
        </div>
        <div class="desciption">
                <p id="textdesciption">
                    <a href="#">
                        PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                     </a>
                </p>
        </div>
        <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
        <p id="exam">120 phút</p>
    </div>

    <div class="item">
        <div class="img">
            <a href="#">
            <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
             width="100%" height="100%">
            </a>
        </div>
        <div class="desciption">
                <p id="textdesciption">
                    <a href="#">
                        PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                     </a>
                </p>
        </div>
        <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
        <p id="exam">120 phút</p>
    </div>

    <div class="item">
        <div class="img">
            <a href="#">
            <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
             width="100%" height="100%">
            </a>
        </div>
        <div class="desciption">
                <p id="textdesciption">
                    <a href="#">
                        PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                     </a>
                </p>
        </div>
        <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
        <p id="exam">120 phút</p>
    </div>
</div>
</section>

<section>
    <div class="title">
        <h1>Title</h1>
        <hr>
    </div>

    <div id="container" class="main">
        <div class="item">
            <div class="img">
                <a href="#">
                <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
                 width="100%" height="100%">
                </a>
            </div>
            <div class="desciption">
                    <p id="textdesciption">
                        <a href="#">
                            PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                         </a>
                    </p>
            </div>
            <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
            <p id="exam">120 phút</p>
        </div>

        <div class="item">
            <div class="img">
                <a href="#">
                <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
                 width="100%" height="100%">
                </a>
            </div>
            <div class="desciption">
                    <p id="textdesciption">
                        <a href="#">
                            PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                         </a>
                    </p>
            </div>
            <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
            <p id="exam">120 phút</p>
        </div>

        <div class="item">
            <div class="img">
                <a href="#">
                <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
                 width="100%" height="100%">
                </a>
            </div>
            <div class="desciption">
                    <p id="textdesciption">
                        <a href="#">
                            PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                         </a>
                    </p>
            </div>
            <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
            <p id="exam">120 phút</p>
        </div>

        <div class="item">
            <div class="img">
                <a href="#">
                <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
                 width="100%" height="100%">
                </a>
            </div>
            <div class="desciption">
                    <p id="textdesciption">
                        <a href="#">
                            PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                         </a>
                    </p>
            </div>
            <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
            <p id="exam">120 phút</p>
        </div>

        <div class="item">
            <div class="img">
                <a href="#">
                <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
                 width="100%" height="100%">
                </a>
            </div>
            <div class="desciption">
                    <p id="textdesciption">
                        <a href="#">
                            PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                        </a>
                    </p>
            </div>
            <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
            <p id="exam">120 phút</p>
        </div>

        <div class="item">
            <div class="img">
                <a href="#">
                <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
                 width="100%" height="100%">
                </a>
            </div>
            <div class="desciption">
                    <p id="textdesciption">
                        <a href="#">
                            PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                         </a>
                    </p>
            </div>
            <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
            <p id="exam">120 phút</p>
        </div>

        <div class="item">
            <div class="img">
                <a href="#">
                <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
                 width="100%" height="100%">
                </a>
            </div>
            <div class="desciption">
                    <p id="textdesciption">
                        <a href="#">
                            PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                         </a>
                    </p>
            </div>
            <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
            <p id="exam">120 phút</p>
        </div>

        <div class="item">
            <div class="img">
                <a href="#">
                <img src="https://gamek.mediacdn.vn/133514250583805952/2020/5/6/-15887585895041819860279.jpg"
                 width="100%" height="100%">
                </a>
            </div>
            <div class="desciption">
                    <p id="textdesciption">
                        <a href="#">
                            PHIM BỘ MỚI CẬP NHẬT PHIM BỘ MỚI CẬP NHẬT
                         </a>
                    </p>
            </div>
            <p id="exam">Thẻ loại: dsadas,đâsd sadasda, dsad</p>
            <p id="exam">120 phút</p>
        </div>
    </div>
    </section>

{% endblock content %}
